<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	 <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
        	  <link rel="stylesheet" href="{{ asset('css/reset.css') }}" type="text/css" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
    </head>
    <body>
    	<div id="page">
    		<div id="header">
    		</div><!-- end div header -->

    		<div class="fullWrapper">
    		<div class="leftSide">
    			<div class="verticalMenu">
    				<ul>
<li><a href="{{ path('chiave_static', { slug: '_home'} ) }}">Strona główna</a></li>
<li><a href="{{ path('chiave_static', { slug: '_oFirmie'} ) }}">O firmie</a></li>
<li><a href="{{ path('chiave_static', { slug: '_produkty'} ) }}">Produkty</a></li>
<li><a href="{{ path('chiave_static', { slug: '_cennik'} ) }}">Cennik</a></li>
<li><a href="{{ path('chiave_static', { slug: '_zamowienia'} ) }}">Zamówienia</a></li>
<li><a href="{{ path('chiave_static', { slug: '_dojazd'} ) }}">Dojazd</a></li>
<li><a href="{{ path('chiave_static', { slug: '_kontakt'} ) }}">Kontakt</a></li>
    				</ul>
    			</div>
    		</div>

    		<div class="mainSide">

       		 	{% block mainSide %}{% endblock %}
       		 </div>
       		 </div><!-- end class fullWrapper -->
       		 <div id="footer">
       		 </div>
        </div> <!-- end div page -->

        {% block javascripts %}
        <script>
        	$(document).ready(function(){
            	$('.verticalMenu li').hover(function(){
                	$(this).animate({paddingLeft: '+=10px'}, 400);
                	}, function() {
                    	$(this).animate({paddingLeft: '-=10px'}, 400);
                	});
            });
        </script>
        {% endblock %}

    </body>
</html>
