<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Hurtownia Teofil Wyroby z drewna galanteria drewniana akcesoria kuchenne producent wyrobów z drewna{% endblock %}</title>
        <meta name="Description" content="{% block description %}Hurtownia wyrobów z drewna. Oferujemy Państwu bogaty wybór artykułów niezbędnych w każdym gospodarstwie domowym.{% endblock %}" />
        <meta name="Keywords" content="wyroby z drewna, galanteria drewniana, hurtownia wyrobów z drewna, młotki, tłuczki, ubijaki, dziadki do orzechów, szatkownice młynki, cukiernice, naczynia drewniane, chlebaki, czerpaki, nożyki, widelce, łopatki, łyżki, stolnice, stojaki, deski do krojenia , Komplety" />
        <meta name="Author" content="Łukasz Mikrut, Konrad Mietelski" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}" type="text/css" />
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.png') }}" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Courgette&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
        <script src="{{ asset('js/lukeWidgets.js') }}"></script>
    </head>
    <body>
    	<div id="page">
    		<div id="header">
    			<div class="logo">
    				<h1><a href="{{ path('chiave_gallery_frontend_categories') }}">Teofil</a></h1>
    			</div>
    			<div class="textWrapper"><h1 class="left">Galanteria</h1> <h1 class="right">Drzewna</h1></div>
    		</div><!-- end div header -->

    		<div class="fullWrapper">
    		<div class="leftSide">
    			<div class="verticalMenu">
    				<ul>
    				<li><a href="{{ path('chiave_static', { slug: 'glowna'}) }}">Strona główna</a></li>
    				<li><a href="{{ path('chiave_static', { slug: 'oFirmie'} ) }}">O firmie</a></li>
    				<li><a href="{{ path('chiave_gallery_frontend_categories_show') }}">Produkty</a></li>
    				<li><a href="{{ path('chiave_static', { slug: 'cennik'} ) }}">Cennik</a></li>
    				<li><a href="{{ path('chiave_static', { slug: 'zamowienia'} ) }}">Zamówienia</a></li>
    				<li><a href="{{ path('chiave_static', { slug: 'dojazd'} ) }}">Dojazd</a></li>
    				<li><a href="{{ path('chiave_static', { slug: 'kontakt'} ) }}">Kontakt</a></li>
    				</ul>
    			</div>
                {% block leftSide %}{% endblock %}
    		</div> <!-- end leftSide -->

    		<div class="mainSide">

       		 	{% block mainSide %}{% endblock %}
       		 </div>
       		 </div><!-- end class fullWrapper -->
       		 <div id="footer">
{#        		 	<h2>Kazimierz Mikrut, 38-247 Żurowa 205 A, Tarnów, Małopolska, 14 6518190, 600 402 562, 602 447 248</h2>#}
       		 	<h2>Autorzy: <a href="">Konrad Mietelski,</a> <a href="http://www.lukasmikrut.pl" target="_blank">Łukasz Mikrut</a> &copy, Kraków 2014</h2>
       		 </div>
        </div> <!-- end div page -->
        {% block javascripts %} {% endblock %}
        <script>
           lukeWidgets();
        </script>
    </body>
</html>
