{% extends '::front.html.twig' %}
{% block title %}
	 Strona główna
{% endblock %}

{% block mainSide %}
 
 <div class="tilesWrapper">
 	<div class="tile">
 		<h1 class="brown">KATEGORIA 1</h1>
 		<img src="{{ asset('images/037.jpg') }}" alt="" />
 		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 		Aliquam nec sem faucibus, laoreet augue interdum, volutpat mi. Cras id egestas nisl. Proin ac dui in mauris vehicula imperdiet nec eget sapien. </p>
 		<a class="brown" href="">Więcej</a>
 	</div>
 	<div class="tile">
 		<h1 class="green">KATEGORIA 2</h1>
 		<img src="{{ asset('images/052.jpg') }}" alt="" />
 		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 		Aliquam nec sem faucibus, laoreet augue interdum, volutpat mi. Cras id egestas nisl. Proin ac dui in mauris vehicula imperdiet nec eget sapien. </p>
 		<a class="green" href="">Więcej</a>
 	</div>
 	<div class="tile">
 		<h1 class="orange">KATEGORIA 3</h1>
 		<img src="{{ asset('images/064.jpg') }}" alt="" />
 		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 		Aliquam nec sem faucibus, laoreet augue interdum, volutpat mi. Cras id egestas nisl. Proin ac dui in mauris vehicula imperdiet nec eget sapien. </p>
 		<a class="orange" href="">Więcej</a>
 	</div>
 	<div class="tile">
 		<h1 class="darkGreen">KATEGORIA 3</h1>
 		<img src="{{ asset('images/041.jpg') }}" alt="" />
 		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 		Aliquam nec sem faucibus, laoreet augue interdum, volutpat mi. Cras id egestas nisl. Proin ac dui in mauris vehicula imperdiet nec eget sapien. </p>
 		<a class="darkGreen" href="">Więcej</a>
 	</div>
 	<div class="tile">
 		<h1 class="darkGreen">KATEGORIA 3</h1>
 		<img src="{{ asset('images/064.jpg') }}" alt="" />
 		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 		Aliquam nec sem faucibus, laoreet augue interdum, volutpat mi. Cras id egestas nisl. Proin ac dui in mauris vehicula imperdiet nec eget sapien. </p>
 	</div>
 	<div class="tile">
 		<h1 class="brown">KATEGORIA 1</h1>
 		<img src="{{ asset('images/037.jpg') }}" alt="" />
 		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 		Aliquam nec sem faucibus, laoreet augue interdum, volutpat mi. Cras id egestas nisl. Proin ac dui in mauris vehicula imperdiet nec eget sapien. </p>
 	</div>
 	<div class="tile">
 		<h1 class="green">KATEGORIA 2</h1>
 		<img src="{{ asset('images/052.jpg') }}" alt="" />
 		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 		Aliquam nec sem faucibus, laoreet augue interdum, volutpat mi. Cras id egestas nisl. Proin ac dui in mauris vehicula imperdiet nec eget sapien. </p>
 	</div>
 	<div class="tile">
 		<h1 class="orange">KATEGORIA 3</h1>
 		<img src="{{ asset('images/041.jpg') }}" alt="" />
 		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 		Aliquam nec sem faucibus, laoreet augue interdum, volutpat mi. Cras id egestas nisl. Proin ac dui in mauris vehicula imperdiet nec eget sapien. </p>
 	</div>
 	
 </div>
 
 
{% endblock %}



