{% extends "::back.html.twig" %}

{% block title %}Zarządzanie kategoriami{% endblock %}
{% block description %}lista kategorii{% endblock %}

{% block active_name %}chiave_gallery_categories{% endblock %}

{% block body -%}
    <table class="records_list">
        <thead>
            <tr>
                <th></th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Plik</th>
                {# <th>isParent</th>
                <th>hasItems</th> #}
                <th>Produktów<br/>w kategorii</th>
                <th>
                    <a class="tiny button success" href="{{ path('chiave_gallery_categories_new') }}">
                        Dodaj nową kategorię
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr class="categories_parents">
                <td>{{ loop.index }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>{% if category.file %}
                    <img src="{{ category.file.webpath }}" />
                    {% else %}
                    Brak pliku
                    {% endif %}
                </td>
                {# <td>{{ category.isParent }}</td>
                <td>{{ category.hasItems }}</td> #}
                <td>{{ category.items | length }}</td>
                <td>
                    <div class="button-bar">
                        <ul class="button-group">
                            <li><a class="tiny button" href="{{ path('chiave_gallery_categories_edit', { 'id': category.id }) }}">Edytuj</a></li>
                            <li><a class="tiny button alert delete_button" href="{{ path('chiave_gallery_categories_delete', { 'id': category.id }) }}">Usuń</a></li>
                        </ul>
                    </div>
                </td>
            </tr>

            {% set parentindex = loop.index %}
            {% for subcategory in category.children %}
                <tr class="categories_childrens">
                    <td>{{ parentindex }}.{{ loop.index }}</td>
                    <td>{{ subcategory.name }}</td>
                    <td>{{ subcategory.description }}</td>
                    <td>{% if subcategory.file %}
                        <img src="{{ subcategory.file.webpath }}" />
                        {% else %}
                        Brak pliku
                        {% endif %}
                    </td>
                    {# <td>{{ subcategory.isParent }}</td>
                    <td>{{ subcategory.hasItems }}</td> #}
                    <td>{{ subcategory.items | length }}</td>
                    <td>
                        <div class="button-bar">
                            <ul class="button-group">
                                <li><a class="tiny button" href="{{ path('chiave_gallery_categories_edit', { 'id': subcategory.id }) }}">Edytuj</a></li>
                                <li><a class="tiny button alert delete_button" href="{{ path('chiave_gallery_categories_delete', { 'id': subcategory.id }) }}">Usuń</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts -%}

<script type="text/javascript">
    $('.delete_button').click(function(e) {
        e.preventDefault();

        var toRemove = $(this).closest('tr');

        $.post(
            $(this).attr('href'),
            function(data) {
                if (data.success) {
                    $(toRemove).remove();
                    alert('Kategoria usunięta pomyślnie');
                } else {
                    alert('Wystąpił straszny błąd: '+data.error+' :(');
                }
            });
    });
</script>

{% endblock %}
