{% extends "::back.html.twig" %}

{% block title %}Zarządzanie kategoriami{% endblock %}
{% block description %}tworzenie/edycja kategorii{% endblock %}

{% block active_name %}chiave_gallery_categories{% endblock %}

{% block body -%}

    {# {{ form_start(form) }}
         {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.file) }}

        <ul class="tags">
            {% for filex in form.file %}
            <li>{{ form_row(filex.file) }}</li>
            {% endfor %}
        </ul>
    {{ form_end(form) }} #}
    {{ form(form) }}

    <a class="small button" href="{{ path('chiave_gallery_categories') }}">
        Powrót do listy kategorii
    </a>

{% endblock %}
