{% extends '::front.html.twig' %}
{% block title %}
     Produkty
{% endblock %}

{% block mainSide %}

<div class="selectList">
 <ul>
	<li><a>Wybierz kategorię</a></li>
	<li><a>Ostatnio dodane</a></li>
	<li><a href="">Akcesoria kuchenne</a></li>
	<li><a href="">Akcesoria kuchenne z metalu</a></li>
	<li><a href="">Chlebaki</a></li>
	<li><a href="">Cukiernice kufle i naczynia drewniane</a></li>
	<li><a href="">Czerpaki</a></li>
	<li><a href="">Deski do krojenia</a></li>
	<li><a href="">Deski do krojenia z rękojeścią</a></li>
</ul>
</div>
<div class="chosenItem">Wybrano: <span>Łyżki</span> </div>

<div class="separator"></div>

<div class="tilesWrapper">

<div class="toggleTile">
	 <div class="tile">
	 	 <div class="imgDiv"><img src="" alt="PHOTO" /></div>
	 	  <h1>Nazwa kategorii</h1>
	 	  <p>Opis kategorii, kilka słów o produkcie</p>
	 	   <a>Więcej</a>
	 </div><!-- end tile -->
	   <div class="tileChildren">
	   		 <div class="imgDiv"><img src="" alt="PHOTO" /></div>
	   		 <div class="id">001</div>
	   		 <h1>Nazwa produktu pierwszego</h1>
	   		 <p>Opis produktu pierwszego</p>
	   </div><!-- end tileChildren -->
	    <div class="tileChildren">
	    	<div class="imgDiv"><img src="" alt="PHOTO" /></div>
	    	<div class="id">002</div>
	    	<h1>Nazwa produktu drugiego</h1>
	    	<p>Opis produktu drugiego</p>
	   </div><!-- end tileChildren -->
</div> <!--end togglTile -->

	<div class="toggleTile">
	    <div class="tile">
	        <div class="imgDiv"><img src="{{ asset('images/036.jpg') }}" alt="" /></div>
	         <h1>Łyżki okrągłe</h1>
	        <p>Oferujemy Państwu łyżki szwedzkie, warszawskie, okrągłe i owalne, które z pewnością znajdą zastosowanie w każdej kuchni i nie tylko  </p>
	        <a>Więcej</a>
	    </div><!-- end tile -->
	     <div class="tileChildren">
	        	<div class="imgDiv"><img src="{{ asset('images/037.jpg') }}" alt="" /></div>
	        	<div class="id">25</div>
	         <h1> Łyżka okrągła </h1>
	        <p>Łyżka okrągła wykonana z drewna bukowego długość łyżki 280 mm długość rączki 215 mm waga 0.020 kg </p>
	      </div><!-- end tileChildren -->
	       <div class="tileChildren">
	        	<div class="imgDiv"><img src="{{ asset('images/037.jpg') }}" alt="" /></div>
	        		<div class="id">26</div>
	         <h1>Łyżka okrągła z rogiem i otworem </h1>
	        <p> Łyżka okrągła z rogiem i otworem wykonana z drewna bukowego długość łyżki 280 mm długość rączki 215 mm waga 0.020 kg </p>
	      </div><!-- end tileChildren -->
	       <div class="tileChildren">
	        	<div class="imgDiv"><img src="{{ asset('images/037.jpg') }}" alt="" /></div>
	        	<div class="id">27</div>
	         <h1> Łyżka okrągła z otworami </h1>
	        <p>Łyżka okrągła z otworami wykonana z drewna bukowego długość łyżki 280 mm długość rączki 215 mm waga 0.020 kg </p>
	      </div><!-- end tileChildren -->
    </div><!-- end toggletile -->



 </div><!-- end div tiles wrapper -->


<!-- <div class="minsWrapper">
	<img id="slideLeft" src="{{ asset('images/slide_left.png') }}" />
	<img id="slideRight" src="{{ asset('images/slide_right.png') }}" />
    <div class="minsInner">
         <a href="{{ asset('images/037.jpg') }}" data-productName="Wiadro" data-description="Testowy opis produktu wiadro" data-index="2" class="lightbox"><img src="{{ asset('images/037.jpg') }}" /></a>
         <a href="{{ asset('images/052.jpg') }}" data-productName="Łyżki :D" data-description="Testowy opis produktu łyżka" data-index="3" class="lightbox"> <img src="{{ asset('images/052.jpg') }}" /></a>
         <a href="{{ asset('images/064.jpg') }}" data-productName="Deski" data-description="Testowy opis produktu deski" data-index="4" class="lightbox"><img src="{{ asset('images/064.jpg') }}" /></a>
         <a href="{{ asset('images/041.jpg') }}" data-productName="Spinacze :p" data-description="Testowy opis produktu spinacze" data-index="1" class="lightbox"> <img src="{{ asset('images/041.jpg') }}" /></a>
           <a href="{{ asset('images/037.jpg') }}" class="lightbox"><img src="{{ asset('images/037.jpg') }}" /></a>
         <a href="{{ asset('images/052.jpg') }}" class="lightbox"> <img src="{{ asset('images/052.jpg') }}" /></a>
         <a href="{{ asset('images/064.jpg') }}" class="lightbox"><img src="{{ asset('images/064.jpg') }}" /></a>
         <a href="{{ asset('images/041.jpg') }}" class="lightbox"> <img src="{{ asset('images/041.jpg') }}" /></a>
           <a href="{{ asset('images/037.jpg') }}" class="lightbox"><img src="{{ asset('images/037.jpg') }}" /></a>
         <a href="{{ asset('images/052.jpg') }}" class="lightbox"> <img src="{{ asset('images/052.jpg') }}" /></a>
         <a href="{{ asset('images/064.jpg') }}" class="lightbox"><img src="{{ asset('images/064.jpg') }}" /></a>
         <a href="{{ asset('images/041.jpg') }}" class="lightbox"> <img src="{{ asset('images/041.jpg') }}" /></a>
           <a href="{{ asset('images/037.jpg') }}" class="lightbox"><img src="{{ asset('images/037.jpg') }}" /></a>
         <a href="{{ asset('images/052.jpg') }}" class="lightbox"> <img src="{{ asset('images/052.jpg') }}" /></a>
         <a href="{{ asset('images/064.jpg') }}" class="lightbox"><img src="{{ asset('images/064.jpg') }}" /></a>
         <a href="{{ asset('images/041.jpg') }}" class="lightbox"> <img src="{{ asset('images/041.jpg') }}" /></a>
           <a href="{{ asset('images/037.jpg') }}" class="lightbox"><img src="{{ asset('images/037.jpg') }}" /></a>
         <a href="{{ asset('images/052.jpg') }}" class="lightbox"> <img src="{{ asset('images/052.jpg') }}" /></a>
         <a href="{{ asset('images/064.jpg') }}" class="lightbox"><img src="{{ asset('images/064.jpg') }}" /></a>
         <a href="{{ asset('images/041.jpg') }}" class="lightbox"> <img src="{{ asset('images/041.jpg') }}" /></a>

    </div>
</div>
 -->
{% endblock %}



{% block javascriptsready %}

  scroll();
  lightbox();

  function scroll()
    {
    	var itemSize = $('.minsInner img').length;
    	$('.minsInner').css('width', itemSize * ($('.minsInner img').width() + 6));


    	var isAnimated = false;
    	$('#slideRight').click(function(){
    		if(isAnimated)
    			return;
    		else
    		{
    			isAnimated = true;
	    		var minList =  $(this).parent().children('.minsInner');
	    		var scrollAmount = minList.width()-$(this).parent().width();
	    		var currentPos = Math.abs(parseInt($(minList).css('left')));
	    		var remainingScroll = scrollAmount - currentPos;

	    		var nextScroll = $(this).parent().width();

	    		if(remainingScroll <= nextScroll){

	    			nextScroll = remainingScroll;
	    			$(this).fadeOut(1000);

	    		}

	    		if(currentPos < scrollAmount){
	    			$(minList).animate({'left':'-=' + nextScroll}, 1000);
	    		}
	    		 $(this).parent().children('#slideLeft').fadeIn(1000);
	    		 setTimeout(function(){
	    			 isAnimated = false;
	    		 }, 1000);
    		}
    	});

    	$('#slideLeft').click(function(){
    		if(isAnimated)
    			return;
    		else{
    			isAnimated = true;
	            var minList =  $(this).parent().children('.minsInner');
	            var scrollAmount = minList.width()-$(this).parent().width();
	            var currentPos = Math.abs(parseInt($(minList).css('left')));
	            var remainingScroll = currentPos;

	            var nextScroll = $(this).parent().width();
	            if(remainingScroll <= nextScroll){
	                nextScroll = remainingScroll;
	                $(this).fadeOut(1000);
	            }

	            if(currentPos >= 50){
	                $(minList).animate({'left':'+=' + nextScroll}, 1000);
	            }
	            $(this).parent().children('#slideRight').fadeIn(1000);
	            setTimeout(function(){
                    isAnimated = false;
                }, 1000);
	    		}
	       });
    };

   function lightbox()
    {
    	$('a.lightbox').click(function(e){
    		$('body').css('overflow', 'hidden');
    		$('<div class="lightboxWrapper"></div>')
    		.css('top', $(document).scrollTop())
    		.css('opacity', '0')
    		.animate({'opacity': '0.9'}, 'fast')
    		.appendTo('body');

    		$('<div class="lightboxContainer"></div>')
    		.hide()
    		.appendTo('body');

    		addInfo($(this));

    		$('<img />')
    		.attr('src', $(this).attr('href')).appendTo('.lightboxContainer')
    		.load(function(){
    			$('.lightboxContainer').css('top', $(document).scrollTop()).fadeIn(1000);
    		})
    		.click(function(){
    			removeLightbox();
    		})
    		return false;
    	});


    	function removeLightbox(){
    		$('.lightboxWrapper, .lightboxContainer')
    		.fadeOut('slow', function() {
    			$(this).remove();
    			$('body').css('overflow-y', 'auto');
    		});
    	}
    	function addInfo(object)
    	{
    		var name = $(object).attr('data-productName');
    		if(!(name))
    			  name='';
    		var description = $(object).attr('data-description');
    		if(!(description))
               description='';
    		var index = $(object).attr('data-index');
    		if(!(index))
                index='';
    		$('.lightboxContainer').html(
    				'<div class="lbHeader">' + name + '</div>' +
    				'<div class="lbDescription">' + description + '</div>' +
    				'<div class="lbIndex">' + index + '</div>'
    		);

    	}
    };

    $('.selectList li:FIRST-CHILD a').click(function(){
    	$(this).parent().parent().children().slideDown(700);
    });

    $('.toggleTile .tile a').click(function(){
    	$(this).parent().parent().children('.tileChildren').slideDown(700);
    	$(this).hide();
    });
    
    


{% endblock %}
