{% extends "::back.html.twig" %}

{% block title %}Zarządzanie produktami{% endblock %}
{% block description %}lista produktów{% endblock %}

{% block active_name %}chiave_gallery_items{% endblock %}

{% block body -%}
    <table class="records_list">
        <thead>
            <tr>
                <th></th>
                <th>Nazwa</th>
                <th>Galeria</th>
                {# <th>Metadane</th> #}
                <th>
                    <a class="tiny button success" href="{{ path('chiave_gallery_items_new') }}">
                        Dodaj nowy produkt
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.category }}</td>
                {# <td>Oryginalna nazwa:<br />
                    {{ item.file.originalName }}<br/>
                    Rozmiar: {{ item.file.sizeText }}</td> #}
                <td>
                    <div class="button-bar">
                        <ul class="button-group">
                            <li><a class="tiny button" href="{{ path('chiave_gallery_items_edit', { 'id': item.id }) }}">Edytuj</a></li>
                            <li><a class="tiny button alert delete_button" href="{{ path('chiave_gallery_items_delete', { 'id': item.id }) }}">Usuń</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts -%}

<script type="text/javascript">
    $('.delete_button').click(function(e) {
        e.preventDefault();

        var toRemove = $(this).closest('tr');

        $.post(
            $(this).attr('href'),
            function(data) {
                if (data.success) {
                    $(toRemove).remove();
                    alert('Plik usunięty pomyślnie');
                } else {
                    alert('Wystąpił straszny błąd: '+data.error+' :(');
                }
            });
    });
</script>

{% endblock %}
