{% extends '::front.html.twig' %}
{% block title %}
     Strona główna
{% endblock %}

{% block mainSide %}

 <div class="tilesWrapper">
    {% for category in categories %}
    {% set color = random(3) %}
    <div class="tile">
        <h1 class="background-{{ color }}">{{ category.name }} - {{category.id }}</h1>
        <img src="{{ category.file.webpath }}" alt="" />
        <p>{{ category.description }}</p>
        <a class="background-{{ color }}" href="{{ path('chiave_gallery_frontend_items_find', { 'categoryId': category.id } ) }}">Więcej</a>
    </div>
    {% endfor %}
 </div>

{% endblock %}



